// Features
.features {
    padding-top: $section-padding;
    padding-bottom: $section-padding;
    .row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 4%;
        // Feat
        .feat {
            padding: 30px;
            text-align: center;
            @extend .transition;
            // Icon 
            .icon {
                i {
                    color: $main-color;
                    font-size: 2.5rem;
                }
            }
            // Info 
            .info {
                h3 {
                    margin-top: 1.6rem;
                    font-weight: 700;
                    text-transform: capitalize;
                }
                p{
                    font-size: 16px;
                    line-height: 1.5;
                    color: #585858;
                    margin-bottom: 0;
                }
            }
            &:hover {
                box-shadow: 3px 3px 5px 0px rgb(171 171 171 / 57%);
            }
        }
    }
}
// End of Features

@media(max-width: 991.98px) {
    // Features
    .features {
        padding-top: $section-padding-sm;
        padding-bottom: $section-padding-sm;
        .row {
            grid-template-columns: 1fr 1fr;
            // Feat
            .feat {
                padding: 20px;
                // Icon 
                .icon {
                    i {
                        font-size: 2rem;
                    }
                }
                // Info 
                .info {
                    h3 {
                        margin-top: 1.2rem;
                        margin-bottom: 0rem;
                    }
                    p{
                        line-height: 1.5;
                    }
                }
            }
        }
    }
    // End of Features
}
