// intro section
.intro-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, rgb(0 0 0 / 80%), rgb(0 0 0 / 80%)),
    url("../../../images/bg.jpg") no-repeat center center;
    background-size: cover;
    height: calc(100vh - 80px);
    // Info
    .info {
        text-align: center;
        h1 {
            font-size: 2.9em;
            margin: 0.37em 0;
            color: $main-color;
        }
        p{
            width: 30%;
            display: flex;
            flex-wrap: wrap;
            margin: auto;
            font-size: 17px;
            line-height: 1.5;
            color: #fff;
        }
    }
}

// End of intro section
