// intro section
.intro-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eef;
    height: calc(100vh - 80px);
    width: 100vw;
    // Info
    .info {
        text-align: center;
        h1 {
            font-size: 2.9em;
            margin: 0.37em 0;
            color: $main-color;
        }
        p{
            width: 30%;
            display: flex;
            flex-wrap: wrap;
            margin: auto;
            font-size: 17px;
            line-height: 1.5;        
        }
    }
}

// End of intro section
