// Navbar
.navbar{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;        
    // Navbar Logo
    .nav-logo {
        height: 40px;
        img {
            height: 100%;
        }
    }
    // Navbar link
    .nav-links {
        position: relative;
        // Icons
        .icon {
            width: 30px;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            @extend .transition;
            span {
                margin-bottom: 4px;
                height: 3px;
                border-radius: 10px;                
                background-color: $black-color;
                @extend .transition;
                &:first-child {
                    width: 100%;
                }
                &:nth-of-type(2) {
                    width: 70%;
                }
                &:last-child {
                    width: 100%;
                }
            }
            &:hover{
                span {
                    background-color: $main-color;
                    &:nth-of-type(2) {
                        width: 100%;
                    }
                }
            }
        }
        
        // Links
        .links {
            list-style: none;
            position: absolute;
            display: none;
            top: calc(100% + 20px);
            right: 0;
            z-index: 1;
            padding: 0;
            margin: 0;
            min-width: 200px;
            background-color: $main-color;
            @extend .transition;
            &::before{
                content: "";
                position: absolute;
                right: 0;
                top: -30px;
                border-width: 15px;
                border-style: solid;
                border-color: transparent transparent $main-color;
            }
            .item{
                border-bottom: 1px solid rgb(0 179 161);
                @extend .transition;
                a {
                    display: block;
                    margin: 10px;
                    text-decoration: none;
                    color: $black-color;
                    font-weight: 600;
                    line-height: 1.5;
                    font-size: 15px;
                    @extend .transition;
                }

                &:hover {
                    a{
                        padding-left: 10px;
                    }
                }
            }
        }

        .icon:hover + .links{
            display: block;
        }
    }
}
// End of navbar

@media(max-width: 991.98px) { 
    // Navbar
    .navbar{
        padding: 10px;
        // Navbar Logo
        .nav-logo {
            height: 30px;
        }
        // Navbar link
        .nav-links {
            // Icons
            .icon {
                width: 25px;
                span {
                    margin-bottom: 4px;
                    height: 2px;
                }
            }
            
            // Links
            .links {
                top: calc(100% + 14px);
                min-width: 180px;
                &::before{
                    top: -24px;
                    border-width: 12px;
                }
                .item{
                    a {
                        font-size: 13px;
                    }
                }
            }
        }
    }
    // End of navbar
}