// Portfolio
.portfolio {
    padding-top: $section-padding;
    padding-bottom: $section-padding;
    background-color: $background-section;
    // Row
    .row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 4%;
        // Card Project
        .card-project{
            margin-top: 30px;
            margin-bottom: 30px;
            background-color: #fff;
            // Card Header
            .card-header{
                width: 100%;
                height: 200px;
                background-color: #eee;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            // Card Body
            .card-body {
                padding: 1rem;
                h4{
                    margin: 0;
                    font-size: 1.14rem;
                }
                p{
                    color: #555555;
                    line-height: 1.5;
                    margin-bottom: 0;
                    margin-top: .35rem;                
                }
            }
        }
    }
}
// End of Portfolio

@media(max-width: 767.98px) {
    // Portfolio
    .portfolio {
        padding-top: $section-padding-sm;
        padding-bottom: $section-padding-sm;
        // Row
        .row {
            grid-template-columns: 1fr;
            // Card Project
            .card-project{
                margin-top: 25px;
                &:last-child{
                    margin-bottom: 25px;
                }
                // Card Header
                .card-header{
                    height: 300px;
                }
                // Card Body
                .card-body {
                    h4{
                        margin: 0;
                        font-size: 1.14rem;
                    }
                    p{
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    // End of Portfolio
}

@media(min-width: 768px) and (max-width: 991.98px) {
    // Portfolio
    .portfolio {
        padding-top: $section-padding-sm;
        padding-bottom: $section-padding-sm;
        // Row
        .row {
            grid-template-columns: 1fr 1fr;
            // Card Project
            .card-project{
                margin-top: 25px;
                margin-bottom: 25px;
                // Card Header
                .card-header{
                    width: 100%;
                    height: 200px;
                }
                // Card Body
                .card-body {
                    padding: 1rem;
                    h4{
                        margin: 0;
                        font-size: 1.14rem;
                    }
                    p{
                        line-height: 1.5;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    // End of Portfolio
}