// Section Heading
.section-header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    h2{
        font-size: 5.6rem;
        font-weight: bold;
        line-height: 1.5;
        margin: 0;
        color: #ddd;
    }
    p{
        position: absolute;
        margin: 0;
        bottom: 18px;
        font-size: 19px;
        color: #555555;
    }
}
// End of section heading

@media(max-width: 991.98px) {
    // Section Heading
    .section-header{
        h2{
            font-size: 4rem;
        }
        p{
            bottom: 10px;
            font-size: 17px;
        }
    }
}